body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://fonts.googleapis.com/css?family=Raleway")
}

#info-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#recharts{
    display: flex;
    justify-content: center;
}
.chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 30px;
  margin: 10px;
}
#body{
  font-weight: 50;
  font-size: 20px;
  margin: 10px;
}
#payments{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:10px
}


#av-cash{
    font-size:100%;
    margin:30px 40px 20px 40px;
}
#annual-return{
  font-size:100%;
  text-align:center;
  margin:30px 40px 20px 40px;
}
#portfolio-value{
  font-size:100%;
  margin:30px 40px 20px 40px;

}
h2{
    display: flex;
    justify-content: center;

}
.nav-bar{
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.nav-bar>button{
    color: black;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Oswald");

.body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://fonts.googleapis.com/css?family=Raleway")

}


p{
  font-size:160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

.info{
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    font-family:'Oswald', sans-serif;
    color: rgb(19, 4, 4);
    font-size: 135%;
    padding: 7px 0px;
    border: solid #eee 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-justify: center;
    width: 200px;
    font-size:100%;
}

.body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://fonts.googleapis.com/css?family=Raleway")
  
  }

  .add-investment{
    display: inline-block;
    margin:30px 40px 20px 40px;
    border-radius: 30px;
    font-family:'Oswald', sans-serif;
    color: rgb(19, 4, 4);
    font-size: 135%;
    padding: 7px 0px;
    background-color: rgba(144, 238, 144, 0.517);
    text-align: center;
    border: solid lightgreen 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-justify: center;
    width: 200px;
  }

  .closest-payments{
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    font-family:'Oswald', sans-serif;
    color: rgb(19, 4, 4);
    font-size: 135%;
    padding: 7px 0px;
    border: solid #eee 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-justify: center;
    width: 200px;
  }

  h1{
    text-align:center;
  }

  .chart{
    height:90%
  }