@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Oswald");

.body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://fonts.googleapis.com/css?family=Raleway")

}

.intro {
  height: 100%;
  width: 100%;
  margin: auoto;
  background: url(https://picsum.photos/700) no-repeat 50% 50%;
  display: table;
  top:0;
  background-size: cover;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size:500%;
}

.content h4 {
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size:200%;
    margin-top: 0px;
  }

.btn{
  margin: 20px;
  border-radius: 5px;
  font-family:'Oswald', sans-serif;
  color: white;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #eee 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-justify: center;
  width: 200px;
}

.input{
  margin-top: 50px;
  border-radius: 5px;
  font-family:'Oswald', sans-serif;
  color: grey;
  font-size: 85%;
  padding: 10px 20px;
  border: solid #eee 3px;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
}

.btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

p{
  font-size:160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

@media only screen and(max-width: 768px){
  .content h1{
    font-size: 250%;
  }
  .btn{
    font-size:110%;
    padding: 7px 15px;
  }
  p{
    font-size: 100%;
    line-height: 160%;
  }
}

.svg-inline--fa{
    margin-top: 0px;
    font-size: 130px;
    color: white;
}

