
#submit-new-loan{
    font-size: large;
  }
  
  #new-loan{
    text-align: center;
  }
  
  #loan-inputs{
    grid-template-columns: repeat(2, 1fr);
    border: 1px black solid;
  }

  .purpose{
    display: inline-block;
    margin: 5px;
    background-color: darkslategray;
    width:100px;
    height:50px;
  }

  .purpose:hover {
    background-color: dimgrey;
  }

  .purpose:active {
    background-color: yellow;
  }

  #purposes{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    justify-self: center;
  }

  