body{
  font-family: 'Raleway', sans-serif;
}
#submit-new-loan{
    font-size: large;
  }
  
  #new-loan{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5vh;
  }
  #monthly{
    font-size: 25px;
    margin: 30px;
    color: red;
  }
  #loan-inputs{
    grid-template-columns: repeat(2, 1fr);
    border: 1px black solid;
  }

  .purpose{
    display: inline-block;
    margin: 5px;
    background-color: lightblue;
    width:200px;
    height:50px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size:larger
  }

  .purpose:hover {
    background-color: dimgrey;
  }

  .purpose:focus {
    background-color: yellow;
  }

  #purposes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-left:10vw;
    margin-top:5vh;
  }


#slider-container{
  display:flex;
  flex-direction:column;
  align-items:center
}