#admin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
