.info{
margin: 15px;
display: inline; 
}

table{
    margin-left:auto; 
    margin-right:auto;
    }

table, th, td {
    border: 1px solid black;
    }

.header{
    margin:20px
}

.circle{
    background: aqua;
    clip-path: circle(50%);
    height: 5em;
    width: 5em;
}

.btn{
    display: inline-block;
    margin: 20px;
    border-radius: 30px;
    font-family:'Oswald', sans-serif;
    color: rgb(19, 4, 4);
    font-size: 135%;
    padding: 7px 0px;
    background-color: rgba(144, 238, 144, 0.517);
    text-align: center;
    border: solid lightgreen 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-justify: center;
    width: 200px;
  }