.info{
margin: 15px;
display: inline;
font-size:20px 
}

table{
    margin-left:auto; 
    margin-right:auto;
    }

table, th, td {
    border: 1px solid black;
    }

.header{
    margin:20px
}

.circle{
    background: aqua;
    clip-path: circle(50%);
    height: 5em;
    width: 5em;
}

.btn{
    display: inline-block;
    /* margin: 20px; */
    border-radius: 30px;
    font-family:'Oswald', sans-serif;
    color: rgb(19, 4, 4);
    font-size: 135%;
    padding: 7px 0px;
    background-color: rgba(144, 238, 144, 0.517);
    text-align: center;
    border: solid lightgreen 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-justify: center;
    width: 200px;
  }

  #status-container{
      display:flex;
      justify-content: space-between;
      font-family: 'Raleway', sans-serif;
      font-size:26px;
      font-weight:bold;
      width:90%;
      margin-left:5%
  }

  #charts-container{
      display:flex;
      justify-content:center;
    
  }

  /* #amount-remained{
      font-size:15px;
      font-weight:bold;
  } */

  #infos{
      display:flex;
      flex-direction:column;
      margin:0 10vw 0 10vw;
  }
  .chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }