html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
    .nav {
    background: #000;
    height: 60px; /* set same as height & line-height below */
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    display: inline-block;
    list-style: none;
    height: 60px; /* should be the same as line-height */
    line-height: 60px; /* should be the same as height */
    padding: 0 5vw; /* "0" sets top and bottom padding to none */
  }
  
  .nav-link:hover {
    background: red;
    transition: background .3s;
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
  }