
button {
  color: black!important;
}

.App-logo {
  height: 40vmin;
}

header {
  display: inline;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiPaper-root {
  background-color: #282c34!important;
}